@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'burtons';
	src: url('../public/Burtons.otf');
}

.navbar-fixed {
	position: fixed;
	z-index: 9999;
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.navbar-fixed-dark {
	position: fixed;
	z-index: 9999;
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.hamburger-active > span:nth-child(1) {
	transform: rotate(45deg);
}
.hamburger-active > span:nth-child(2) {
	transform: scale(0);
}
.hamburger-active > span:nth-child(3) {
	transform: rotate(-45deg);
}
.toggle-circle {
	transform: translateX(21px);
}
.min-toggle-circle {
	transform: translateX(-21px);
}

/* Slider */
/* #skills .slide {
	background: red;
	margin: 0 60px;
} */

.image-card1 {
	background-image: url('../public/portfolio1.webp');
	background-size: cover;
	background-repeat: no-repeat;
	transition: all ease-in-out 3s;
}
.image-card1:hover {
	background-position: center bottom;
}
input,
textarea {
	caret-color: #0ea5e9;
}
